body {
    background-color:powderblue;
}

.navbar-brand {
    margin-left: 50px;
    height: 80px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    background-color:springgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    padding: 0px 50px 0px 0px;
}

.nav-item {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about {
    height: 490px;
    margin-top: 30px;
    background-color: mintcream;
}

.profile {
    margin-top: 40px;
    margin-left: 30px;
    height: 400px;
    width: 500px;
}

.bio {
    margin-top: 115px;
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 2;
    border-top: dashed 2px springgreen;
    border-bottom: dashed 2px springgreen;
    padding: 15px;
}

.portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    height: 350px;
}

.project {
    position: relative;
}

.name {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 15px;
    background-color: springgreen;
    opacity: 75%;
    width: 450px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 0px 5px 30px;
}

.contact {
    background-color: mintcream;
    height: 490px;
    margin-top: 20px;
}

.form-control {
    margin-top: 10px;
    border: solid black 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.text-center {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 0px 15px 0px;
}

.footer {
    margin-top: 50px;
    padding: 30px;
    border-top: solid springgreen 5px;
}

@media screen and (max-width: 540px) {
    .portfolio {
        width: 200px;
        height: 100px;
    }

    .name {
        width: 200px;
        top: 100px;
        padding: 5px;
        font-size: 20px;
    }

    .profile {
        height: 220px;
        width: 300px;
    }

    .bio {
        margin-top: 25px;
        font-size: 14px;
        margin-left: 15px;
    }

    .about {
        height: 570px;
    }

}

@media screen and (max-width: 640px) {
    .portfolio {
        width: 200px;
        height: 100px;
    }

    .name {
        width: 200px;
        top: 100px;
        padding: 5px;
        font-size: 20px;
    }

    .profile {
        width: 330px;
        height: 230px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio {
        width: 300px;
        height: 200px;
    }

    .name {
        width: 300px;
        top: 180px;
        padding: 5px;
        font-size: 22px;
    }

    .about {
        height: 720px;
    }

    .profile {
        margin-left: 80px;
    }

    .bio {
        margin-top: 30px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio {
        width: 300px;
        height: 200px;
    }

    .name {
        width: 300px;
        top: 180px;
        padding: 5px;
        font-size: 22px;
    }

    .about {
        height: 700px;
    }

    .profile {
        margin-left: 90px;
    }

    .bio {
        margin-top: 20px;
        margin-left: 10px;
    }
}





