body {
    background-color:powderblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    text-align: center;
}

.navbar-brand {
    margin-left: 50px;
    height: 80px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    background-color:springgreen;
}

.navbar {
    padding: 0px 50px 0px 0px;
}

.nav-item {
    font-size: 18px;
}

.about {
    height: 490px;
    margin-top: 30px;
    background-color: mintcream;
}

.profile {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
}

.bio {
    width: 500px;
    margin-top: 115px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 2;
    border-top: dashed 2px springgreen;
    border-bottom: dashed 2px springgreen;
    padding: 15px;
}

.portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
}

.project {
    position: relative;
}

.name {
    position: absolute;
    top: 60%;
    left: 2.5%;
    background-color: springgreen;
    opacity: 80%;
    padding: 10px;
    width: 95%;
}

.name a {
    color: black;
    font-size: 24px;
}

.title {
    padding: 20px 0px 5px 30px;
}

.contact {
    background-color: mintcream;
    height: 490px;
    margin-top: 20px;
}

.form-control {
    margin-top: 10px;
    border: solid black 2px;
    font-size: 20px;
}
.text-center {
    padding: 15px 0px 15px 0px;
}

.footer {
    margin-top: 50px;
    padding: 30px;
    border-top: solid springgreen 5px;
}

.materials {
    border: dashed mintcream 3px;
    padding: 15px;
    margin: 20px;
    width: 750px;
    display: inline-block;
}

h5 a {
    color: purple;
}

.professional {
    margin-top: 25px;
}

@media screen and (max-width: 1199px) {
    .profile {
        margin-top: 20px;
        width: 520px;
    }

    .about {
        height: 720px;
    }

    .bio {
        width: 510px;
        margin-top: 20px;
    }

    .navbar-collapse {
        padding-left: 10px;
    }
    
    .name {
        width: 94%;
        left: 3%;
    }
}

@media screen and (max-width: 991px) {
    .profile {
        margin-top: 20px;
        width: 510px;
    }

    .about {
        height: 720px;
    }

    .bio {
        margin-top: 20px;
    }

    .name {
        width: 92%;
        left: 4%;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        margin-top: 20px;
        width: 510px;
        margin-left: auto;
    }

    .about {
        height: 715px;
    }

    .bio {
        margin-top: 20px;
    }

    .name {
        width: 89%;
        left: 5.5%;
    }

    .name a {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    .navbar-brand {
        margin-bottom: 20px;
        font-size: 27px;
    }

    .profile {
        margin-top: 20px;
        height: 225px;
        width: 330px;
    }

    .bio {
        margin-top: 20px;
        font-size: 14px;
        width: 330px;
    }

    .about {
        height: 555px;
    }

    .title {
        padding-left: 20px;
    }

    .name {
        width: 90%;
        left: 5%;
    }

    .name a {
        font-size: 15px;
    }
}







