body {
    background-color:powderblue;
}

.navbar-brand {
    margin-left: 50px;
    height: 80px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    background-color:springgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    padding: 0px 50px 0px 0px;
}

.nav-item {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about {
    height: 490px;
    margin-top: 30px;
    background-color: mintcream;
}

.profile {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
}

.bio {
    width: 500px;
    margin-top: 115px;
    margin-right: auto;
    margin-left: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 2;
    border-top: dashed 2px springgreen;
    border-bottom: dashed 2px springgreen;
    padding: 15px;
}

.portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    height: 350px;
}

.project {
    position: relative;
}

.name {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 15px;
    background-color: springgreen;
    opacity: 75%;
    width: 450px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 0px 5px 30px;
}

.contact {
    background-color: mintcream;
    height: 490px;
    margin-top: 20px;
}

.form-control {
    margin-top: 10px;
    border: solid black 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.text-center {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 0px 15px 0px;
}

.footer {
    margin-top: 50px;
    padding: 30px;
    border-top: solid springgreen 5px;
}

@media screen and (max-width: 1199px) {
    .profile {
        margin-top: 20px;
        width: 520px;
    }

    .about {
        height: 720px;
    }

    .bio {
        width: 510px;
        margin-top: 20px;
    }

    .navbar-collapse {
        padding-left: 10px;
    }
}

@media screen and (max-width: 991px) {
    .profile {
        margin-top: 20px;
        width: 510px;
    }

    .about {
        height: 720px;
    }

    .bio {
        margin-top: 20px;
    }

    .portfolio {
        width: 690px;
        height: 500px;
    }

    .name {
        font-size: 35px;
        width: 690px;
        top: 410px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        margin-top: 20px;
        width: 510px;
        margin-left: auto;
    }

    .about {
        height: 715px;
    }

    .bio {
        margin-top: 20px;
    }

    .portfolio {
        width: 515px;
        height: 400px;
    }

    .name {
        font-size: 30px;
        width: 515px;
        top: 320px;
    }
}

@media screen and (max-width: 574px) {
    .portfolio {
        width: 325px;
        height: 240px;
    }

    .navbar-brand {
        margin-bottom: 20px;
        font-size: 27px;
    }
    
    .name {
        width: 325px;
        top: 225px;
        padding: 5px;
        font-size: 20px;
    }

    .profile {
        margin-top: 20px;
        height: 225px;
        width: 330px;
    }

    .bio {
        margin-top: 20px;
        font-size: 14px;
        width: 330px;
    }

    .about {
        height: 555px;
    }

    .title {
        padding-left: 20px;
    }

}

@media screen and (max-width: 320px) {
    .profile {
       width: 290px;
       height: 205px;
    }

    .bio {
        width: 290px;
    }

    .portfolio {
        width: 290px;
        height: 210px;
    }

    .name {
        width: 290px;
        top: 190px;
    }
}






